body{
    font-family: Arial;
    text-align:center;
    background:#f4f4f4;
    }
    
    h1{
    color:green;
    }
    
    a{
    display:inline-block;
    margin:10px;
    padding:10px 20px;
    background:green;
    color:white;
    text-decoration:none;
    }